div.container{
    margin-top: 20px;
}
h4.card-title{
    color:white;
    text-decoration: none;
}
div.adtitle{
    padding:2em;
    background-size:cover;
    background-position: center center;
}
div.adtitle h1, div.adtitle p{
    color:white;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

.avatar {
    max-width: 128px;
    max-height: 128px;
    border-radius:50%;
}

.avatar-medium {
    max-width:64px;
    max-height:64px;
}
.avatar-mini{
    max-width:24px;
    max-height:24px;
}

.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
    color: firebrick !important;
}

.rating i{
    color: goldenrod;
}