div.container{
    margin-top: 20px;
}
h4.card-title{
    color:white;
    text-decoration: none;
}
div.adtitle{
    padding:2em;
    background-size:cover;
    background-position: center center;
}
div.adtitle h1, div.adtitle p{
    color:white;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}