<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no"/>
        <title>SymBNB - {% block title %}Mon application{% endblock %}</title>
        {{ encore_entry_link_tags('app') }}

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'admin/partials/header.html.twig' %}
        {% block body %}{% endblock %}
        {{ encore_entry_script_tags('app') }}

        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/0949276d7a.js" crossorigin="anonymous"></script>

        {% block javascripts %}{% endblock %}
    </body>
    {% include 'admin/partials/footer.html.twig'%}
</html>
