{% extends "base.html.twig" %}

{% block title %}
    Vous n'avez pas le droit d'accéder à cette ressource
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Pas le droit</h1>
        <div class="alert alert-danger">
            Vous n'avez pas le droit d'accéder à cette ressource.
        </div>
        <a href="{{path('homepage')}}" class="btn btn-primary">Retour à l'accueil</a>
    </div>
{% endblock %}